@import "common.less";

.toolbar-button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 24px;
    
    ._clickable-link();

    &.disabled {
        ._clickable-link-disabled();
    }
    &:not(.disabled) {
        &:hover {
            ._clickable-link-hover();
        }
        &:active {
            ._clickable-link-active();
        }
    }
}