@import "../styles/common.less";
.bar {
    background-color: transparent;
    color: @color-bright-neutral-2;
    white-space: nowrap;
    overflow: hidden;
    .bar-inner {
        min-width: 100%;
        float: right;
        .part {
            ._clickable-link();
            display: inline-block;
            padding: @space-normal;
            &:hover:not(.selected) {
                ._clickable-link-hover();
            }
            &.selected {
                ._clickable-link-selected();
            }
        }
        .separator {
            display: inline-block;
        }
    }
}