@import "../styles/common.less";
.bar {
    background-color: @color-background;
    white-space: nowrap;
    overflow: hidden;
    .bar-inner {
        min-width: 100%;
        float: right;
        .part {
            display: inline-block;
            padding: @space-normal;
            &:hover {
                background-color: @color-highlight;
            }
            &.selected {
                background-color: @color-focus;
            }
        }
        .separator {
            display: inline-block;
        }
    }
}