@import "../styles/common.less";
.bar {
    background-color: @color-background;
    white-space: nowrap;
    min-width: 100%;
    float: right;
    .part {
        display: inline-block;
        padding: @space-normal;
        &:hover {
            background-color: @color-highlight;
        }
    }
    .separator {
        display: inline-block;
    }
}