<div class="app" (window:keydown)="keyDown($event)" (window:keyup)="keyUp($event)">
    <div class="menu panel">
        <div *ngIf="isLoading">Loading...</div>
    </div>
    <div class="addressBar panel">
        <div class="left">
            <a class="toolbar-button material-icons" [ngClass]="{'disabled': !canNavigateToPrevious}" (click)="tryNavigateToPrevious()">navigate_before</a>
            <a class="toolbar-button material-icons" [ngClass]="{'disabled': !canNavigateToNext}" (click)="tryNavigateToNext()">navigate_next</a>
            <a class="toolbar-button material-icons" [ngClass]="{'disabled': !canNavigateUp}" (click)="tryNavigateUp()">arrow_upward</a>
        </div>
        <address-bar class="address-bar" [list]="addressBarList" (shouldNavigate)="navigate($event)" [listSeparator]="'/'"></address-bar>
    </div>
    <div class="leftView panel">LEFT_VIEW</div>
    <div class="rightView panel">
        <folder-content (shouldNavigate)="navigate($event)" (shouldSelect)="select($event)" [list]="list"></folder-content>
    </div>
    <div class="statusBar panel">STATUS_BAR</div>
</div>