<div class="app">
    <div class="menu panel">
        <div *ngIf="isLoading">Loading...</div>
    </div>
    <div class="addressBar panel">
        <div class="buttons">
            <div class="button" [ngClass]="{'disabled': !canNavigateToPrevious}" (click)="tryNavigateToPrevious()">&larr;</div><div class="button" [ngClass]="{'disabled': !canNavigateToNext}" (click)="tryNavigateToNext()">&rarr;</div><div class="button" *ngIf="true">&uarr;</div>
        </div>
        <address-bar class="address-bar" [list]="addressBarList" (shouldNavigate)="navigate($event)" [listSeparator]="'/'"></address-bar>
    </div>
    <div class="leftView panel">LEFT_VIEW</div>
    <div class="rightView panel">
        <folder-content (shouldNavigate)="navigate($event)" (shouldSelect)="select($event)" [list]="list"></folder-content>
    </div>
    <div class="statusBar panel">STATUS_BAR</div>
</div>