@import "../styles/common.less";
.scroller {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    white-space: nowrap;
    table {
        min-width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        background-color: @color-background;
        tr.selectable:hover {
            background-color: @color-highlight;
        }
        tr.selected {
            color: @color-background;
            background-color: @color-focus;
        }
        tr {
            th {
                background-color: @color-background;
                position: sticky;
                top: 0;
                z-index: 10;
                text-align: left;
                font-weight: bold;
                &:after {
                    //Line at the bottom which stay when scrolling
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    border-bottom: 1px solid @color-decent;
                }
            }
            th,
            td {
                padding: @space-normal;
            }
        }
    }
}