@import "../styles/common.less";
.item {
    color: @color-bright-neutral-2;
    margin: @section-margin;
    .header {
        font-weight: bold;
        display: block;
    }
    .link {
        display: block;
        margin-left: @section-margin;
        ._clickable-link-css();
    }
}